@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
    <link rel="shortcut icon" href="~/templet/assets/images/pheniox-favicon-color.png" />

    <!-- Font Icon -->
    <link rel="stylesheet"
          href="~/Register/fonts/material-icon/css/material-design-iconic-font.min.css" />

    <!-- Main css -->
    <link rel="stylesheet" href="~/Register/css/style.css" />

    <style>
        .formstyle{
            background: #1a3970;
        }
        .forming{
            margin-top: 161px;
        }

    </style>
</head>
<body>
    <div class="main">
        <div class="container" style="width:870px;">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="~/Register/image/signup-img.jpg" alt="" />
                </div>
                <div class="signup-form formstyle">
                    <form class="register-form forming" id="register-form">
                        <h1>Login</h1>

                        <div class="form-group">
                            <label for="Email">Email :</label>
                            <input type="email" name="Email" id="Email" />
                        </div>

                        <div class="form-group">
                            <label for="password">Password :</label>
                            <input type="password" name="password" id="password" />
                        </div>
                        
                        <div class="form-submit">
                            
                            <input type="submit"
                                   class="submit"
                                   id="submit"
                                   asp-action="UserProfile"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>
</html>