@{
	Layout = null;
}
<!DOCTYPE html><html class=''>
	<head>
	<link rel="stylesheet" href="~/templet/assets/vendors/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="~/templet/assets/vendors/css/vendor.bundle.base.css">
	<!-- endinject -->
	<!-- Plugin css for this page -->
	<link rel="stylesheet" href="~/templet/assets/vendors/jvectormap/jquery-jvectormap.css">
	<link rel="stylesheet" href="~/templet/assets/vendors/flag-icon-css/css/flag-icon.min.css">
	<link rel="stylesheet" href="~/templet/assets/vendors/owl-carousel-2/owl.carousel.min.css">
	<link rel="stylesheet" href="~/templet/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
	<!-- End plugin css for this page -->
	<!-- inject:css -->
	<!-- endinject -->
	<!-- Layout styles -->
	<link rel="stylesheet" href="~/templet/assets/css/style.css">
	<!-- End layout styles -->
	<link rel="icon" type="image/x-icon" href="~/assets/images/title.ico" />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->

	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->


	<script src='https://production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script>
	<script src='https://production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script>
	<script src='https://production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script>
	<meta charset='UTF-8'>
	<meta name="robots" content="noindex">
	<link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
	<link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
	<link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

<script src="https://use.typekit.net/hoy3lrg.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="~/css/chat.css" rel="stylesheet" />
</head>


	<body>
		<div class="container-scroller">
			<nav class="sidebar sidebar-offcanvas" id="sidebar">
			<div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
				<a class="sidebar-brand brand-logo" href="#Home"><img id="logo" src="~/assets/images/logo.png" alt="logo" /></a>
				<a class="sidebar-brand brand-logo-mini" href="#Home"><img src="~/templet/assets/images/pheniox-high-resolution-logo-transparent (1).svg" alt="logo" /></a>
			</div>
			<ul class="nav">
				<li class="nav-item nav-category">
					<span class="nav-link">Navigation</span>
				</li>



				@*  <li class="nav-item menu-items">
				<a class="nav-link" href="/Home/Index">
				<span class="menu-icon">
				<i class="mdi mdi-speedometer"></i>
				</span>
				<span class="menu-title">Dashboard</span>
				</a>
				</li> *@


				<li class="nav-item menu-items">
					<a class="nav-link" href="@Url.Action("Tutor","Home")">
						<span class="menu-icon">
							<i class="mdi mdi-contacts"></i>
						</span>
						<span class="menu-title">Finding Tutor</span>
					</a>
				</li>







				<li class="nav-item menu-items">
					<a class="nav-link" href="/Home/Chat">
						<span class="menu-icon">
							<i class="mdi mdi-file-document-box"></i>
						</span>
						<span class="menu-title">Chats</span>
					</a>
				</li>

				<li class="nav-item menu-items">
					<a class="nav-link" href="/Home/LiveStreamRoom">
						<span class="menu-icon">
							<i class="mdi mdi-laptop"></i>
						</span>
						<span class="menu-title">Appointments</span>
					</a>
				</li>




				<li class="nav-item menu-items">
					<a class="nav-link" href="#Status&WalletPage">
						<span class="menu-icon">
							<i class="mdi mdi-chart-bar"></i>
						</span>
						<span class="menu-title">History</span>
					</a>
				</li>




				<hr style="width: 64%;text-align: left;margin-left: 22px;color: #0f1112;border: solid 0.001em;">


				<li class="nav-item menu-items">
					<a class="nav-link" href="#Status&WalletPage">
						<span class="menu-icon">
							<i class="mdi mdi-settings text-success"></i>
						</span>
						<span class="menu-title">Settings</span>
					</a>
				</li>



				<li class="nav-item menu-items">
					<a class="nav-link" href="@Url.Action("Logout","User")">
						<span class="menu-icon">
							<i class="mdi mdi-logout text-danger"></i>
						</span>
						<span class="menu-title">Log out</span>
					</a>
				</li>





			</ul>
		</nav>
		
		</div>
			<div id="frame">



		<div id="sidepanel">
			<div id="profile">
				<div class="wrap">
					<img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
					<p>Mike Ross</p>
					<i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
					<div id="status-options">
						<ul>
							<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
							<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
							<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
							<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
						</ul>
					</div>
					<div id="expanded">
						<label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
						<input name="twitter" type="text" value="mikeross" />
						<label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
						<input name="twitter" type="text" value="ross81" />
						<label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
						<input name="twitter" type="text" value="mike.ross" />
					</div>
				</div>
			</div>
			<div id="search">
				<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
				<input type="text" placeholder="Search contacts..." />
			</div>
			<div id="contacts">
				<ul>
					<li class="contact">
						<div class="wrap">
							<span class="contact-status online"></span>
							<img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />
							<div class="meta">
								<p class="name">Louis Litt</p>
								<p class="preview">I finally understand how to use loops in Python. Thanks for your help!</p>
							</div>
						</div>
					</li>
					<li class="contact active">
						<div class="wrap">
							<span class="contact-status busy"></span>
							<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
							<div class="meta">
								<p class="name">Harvey Specter</p>
								<p class="preview">Great! Add the parenthesis and try running your code again.</p>
							</div>
						</div>
					</li>
					<li class="contact">
						<div class="wrap">
							<span class="contact-status away"></span>
							<img src="http://emilcarlsson.se/assets/rachelzane.png" alt="" />
							<div class="meta">
								<p class="name">Rachel Zane</p>
								<p class="preview">Is it okay if we go over this again in our next meeting?</p>
							</div>
						</div>
					</li>
					<li class="contact">
						<div class="wrap">
							<span class="contact-status online"></span>
							<img src="http://emilcarlsson.se/assets/donnapaulsen.png" alt="" />
							<div class="meta">
								<p class="name">Donna Paulsen</p>
								<p class="preview">I’ve sent the file with my assignment. Can you check it?</p>
							</div>
						</div>
					</li>
					<li class="contact">
						<div class="wrap">
							<span class="contact-status busy"></span>
							<img src="http://emilcarlsson.se/assets/jessicapearson.png" alt="" />
							<div class="meta">
								<p class="name">Jessica Pearson</p>
								<p class="preview">Have you finished the draft on the Hinsenburg deal?</p>
							</div>
						</div>
					</li>
					<li class="contact">
						<div class="wrap">
							<span class="contact-status"></span>
							<img src="http://emilcarlsson.se/assets/haroldgunderson.png" alt="" />
							<div class="meta">
								<p class="name">Harold Gunderson</p>
								<p class="preview">Thanks Mike! :)</p>
							</div>
						</div>
					</li>
					<li class="contact">
						<div class="wrap">
							<span class="contact-status"></span>
							<img src="http://emilcarlsson.se/assets/danielhardman.png" alt="" />
							<div class="meta">
								<p class="name">Daniel Hardman</p>
								<p class="preview"> I used your tips to fix my website, and it’s running smoothly now. Thank you!.</p>
							</div>
						</div>
					</li>
					<li class="contact">
						<div class="wrap">
							<span class="contact-status busy"></span>
							<img src="http://emilcarlsson.se/assets/katrinabennett.png" alt="" />
							<div class="meta">
								<p class="name">Katrina Bennett</p>
								<p class="preview">I've sent you the files for the Garrett trial.</p>
							</div>
						</div>
					</li>
					<li class="contact">
						<div class="wrap">
							<span class="contact-status"></span>
							<img src="http://emilcarlsson.se/assets/charlesforstman.png" alt="" />
							<div class="meta">
								<p class="name">Charles Forstman</p>
								<p class="preview">
									What resources do you recommend for improving my coding skills?
								</p>
								
							</div>
						</div>
					</li>
					<li class="contact">
						<div class="wrap">
							<span class="contact-status"></span>
							<img src="http://emilcarlsson.se/assets/jonathansidwell.png" alt="" />
							<div class="meta">
								<p class="name">Jonathan Sidwell</p>
								<p class="preview"><span>You:</span> Could you please review the presentation slides I just uploaded?</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div id="bottom-bar">
				<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
				<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
			</div>
		</div>
		<div class="content">
			<div class="contact-profile">
				<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
				<p>Harvey Specter</p>
				
			</div>
			<div class="messages">
				<ul>
					<li class="sent">
						<img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
						<p>Hi, I’m getting an error in my code. Can you help me?</p>
					</li>
					<li class="replies">
						<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
						<p>Of course! What error are you seeing?</p>
					</li>
					<li class="sent">
						<img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
						<p>It says "SyntaxError: unexpected EOF while parsing.</p>
					
					<li class="replies">
						<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
						<p>This error usually means there’s a missing parenthesis, bracket, or quote in your code.</p>
					</li>
					<li class="sent">
						<img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
						<p>Oh, I see. How do I find it?</p>
					</li>
					<li class="replies">
						<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
						<p>Check each line of your code for an opening parenthesis, bracket, or quote without a matching closing one.</p>
					</li>
					<li class="sent">
						<img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
						<p> I found a missing parenthesis in my function definition.</p>
					</li>
					<li class="replies">
						<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
						<p>Great! Add the parenthesis and try running your code again.</p>
					</li>
				</ul>
			</div>
			<div class="message-input">
				<div class="wrap">
				<input type="text" placeholder="Write your message..." />
				<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
				<button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
				</div>
			</div>
		</div>
	</div>
		<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script><script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
		<script >$(".messages").animate({ scrollTop: $(document).height() }, "fast");

		$("#profile-img").click(function() {
			$("#status-options").toggleClass("active");
		});

		$(".expand-button").click(function() {
		  $("#profile").toggleClass("expanded");
			$("#contacts").toggleClass("expanded");
		});

		$("#status-options ul li").click(function() {
			$("#profile-img").removeClass();
			$("#status-online").removeClass("active");
			$("#status-away").removeClass("active");
			$("#status-busy").removeClass("active");
			$("#status-offline").removeClass("active");
			$(this).addClass("active");
	
			if($("#status-online").hasClass("active")) {
				$("#profile-img").addClass("online");
			} else if ($("#status-away").hasClass("active")) {
				$("#profile-img").addClass("away");
			} else if ($("#status-busy").hasClass("active")) {
				$("#profile-img").addClass("busy");
			} else if ($("#status-offline").hasClass("active")) {
				$("#profile-img").addClass("offline");
			} else {
				$("#profile-img").removeClass();
			};
	
			$("#status-options").removeClass("active");
		});

		function newMessage() {
			message = $(".message-input input").val();
			if($.trim(message) == '') {
				return false;
			}
			$('<li class="sent"><img src="http://emilcarlsson.se/assets/mikeross.png" alt="" /><p>' + message + '</p></li>').appendTo($('.messages ul'));
			$('.message-input input').val(null);
			$('.contact.active .preview').html('<span>You: </span>' + message);
			$(".messages").animate({ scrollTop: $(document).height() }, "fast");
		};

		$('.submit').click(function() {
		  newMessage();
		});

		$(window).on('keydown', function(e) {
		  if (e.which == 13) {
			newMessage();
			return false;
		  }
		});
		//# sourceURL=pen.js
		</script>
	</body>


</html>