@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
          rel="stylesheet" />

    <title>Grad</title>

    <!-- Bootstrap core CSS -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.css" />
    <link rel="stylesheet" href="~/assets/css/lightbox.css" />
    <link rel="stylesheet" href="~/assets/css/owl.css" />
    <link rel="stylesheet" href="~/assets/css/templatemo-grad-school.css" />
    <link rel="icon" type="image/x-icon" href="~/assets/images/title.ico" />

    <style>
        .link {
            color: #000;
        }

        .liveStream {
            width: 117%;
            height: 117%;
        }
    </style>
    <!--

    TemplateMo 557 Grad School

    https://templatemo.com/tm-557-grad-school

    -->
</head>

<body>
    <!--header-->
    <header class="main-header clearfix" role="header">
        <div class="logo">
            <!-- inserting logo  -->
            <a href="#">
                <img src="~/assets/images/logo.png" alt="" style="width: 12%" />
            </a>
        </div>
        <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
        <nav id="menu" class="main-nav" role="navigation">
            <ul class="main-menu" style="margin-top: -85px">
                <!-- <li class="has-submenu">
                    <a href="#section2">About Us</a>
                    <ul class="sub-menu">
                      <li><a href="#section2">Who we are?</a></li>
                      <li><a href="#section3">What we do?</a></li>
                      <li><a href="#section3">How it works?</a></li>
                      <li>
                        <a
                          href="https://templatemo.com/about"
                          rel="sponsored"
                          class="external"
                          >External URL</a
                        >
                      </li>
                    </ul>
                  </li> -->
                <li>
                    <a href="~/Home/Tutor">Tutors</a>
                </li>
                <!-- <li><a href="#section5">Video</a></li> -->

                <li>
                    <a href="/User/SignUp" style="background: #f5a425" class="external">SignUp</a>
                </li>

                <li>
                    <a href="/User/Login" class="external">Login</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- ***** Main Banner Area Start ***** -->
    <section class="section main-banner" id="top" data-section="section1">
        <video autoplay muted loop id="bg-video">
            <source src="~/assets/images/course-video.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h2><em>Your</em> Virtual Tutors</h2>
                <div class="main-button">
                    <div class="scroll-to-section">
                        <a href="#section2">Discover more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Main Banner Area End ***** -->

    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="features-post">
                        <div class="features-content">
                            <div class="content-show">
                                <h4><i class="fa fa-pencil"></i>All Fields</h4>
                            </div>
                            <div class="content-hide">
                                <p>
                                    With Grade you can find Tutors available in all fields you
                                    are looking for. All Tutors here are exprianced with their
                                    fileds and we always make sure to find what you need.
                                </p>

                                <div class="scroll-to-section">
                                    <a href="#section2">More Info.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12">
                    <div class="features-post second-features">
                        <div class="features-content">
                            <div class="content-show">
                                <h4><i class="fa fa-graduation-cap"></i>Virtual Rooms</h4>
                            </div>
                            <div class="content-hide">
                                <p>
                                    Grade provide the Live Stream to have a better experience
                                    while the educational process. an espcial Live Stream is
                                    embedded in our System and always looking for taking your
                                    feedback.
                                </p>

                                <div class="scroll-to-section">
                                    <a href="#section3">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="features-post third-features">
                        <div class="features-content">
                            <div class="content-show">
                                <h4><i class="fa fa-book"></i>Chat with Tutor</h4>
                            </div>
                            <div class="content-hide">
                                <p>
                                    You can have the ability to contact with Tutors with a chat
                                    system provided in our system. you can set up the topics
                                    that are needed to be discussed to discover your suitable
                                    Tutor.
                                </p>

                                <div class="scroll-to-section">
                                    <a href="#section4">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section why-us" data-section="section2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Why choose Grad?</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="tabs">
                        <ul>
                            <li><a href="#tabs-1">Best Education</a></li>
                            <li><a href="#tabs-2">Top Management</a></li>
                            <li><a href="#tabs-3">Quality Meeting</a></li>
                        </ul>
                        <section class="tabs-content">
                            <article id="tabs-1">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="~/assets/images/choose-us-image-01.png" alt="" />
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Best Education</h4>
                                        <p>
                                            Grad is an educational platform provided to help
                                            students to find the information they need by contact
                                            with the suitable Tutor. For Tutors Grade gives them
                                            ability to earn money by connecting them with students
                                            using a Virtual Room.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article id="tabs-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="~/assets/images/choose-us-image-02.png" alt="" />
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Management</h4>
                                        <p>
                                            Grad is guranteeing a way to manage the appointments
                                            between Tutors and students. Whlie they can use our chat
                                            system to talk and sort your topics.
                                        </p>
                                        <p>
                                            The date ,Time and cost is provided and managed for both
                                            sides.
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article id="tabs-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="~/assets/images/choose-us-image-03.png" alt="" />
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Quality Meeting</h4>
                                        <p>
                                            Our live stream which is provided guranteeing a higher
                                            quality meeting, Users can find all needed tools for
                                            sucessful meeting. Chat system, White board and ability
                                            of having File sharing or recording the session.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section coming-soon" data-section="section3">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-xs-12">
                    <div class="continer centerIt">
                        <div>
                            <h4>
                                Have <em>any Live Room </em> with a discount <em> 30% </em> as
                                a gift
                            </h4>
                            <h4>time left for the <em>gift !!!</em></h4>
                            <div class="counter">
                                <div class="days">
                                    <div class="value">00</div>
                                    <span>Days</span>
                                </div>

                                <div class="hours">
                                    <div class="value">00</div>
                                    <span>Hours</span>
                                </div>

                                <div class="minutes">
                                    <div class="value">00</div>
                                    <span>Minutes</span>
                                </div>

                                <div class="seconds">
                                    <div class="value">00</div>
                                    <span>Seconds</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="right-content">
                        <div class="top-content">
                            <h6>
                                Register your free account and <em>get immediate</em> access
                                to online Tutors
                            </h6>
                        </div>
                        <form id="contact"
                              action=""
                              method="get"
                              style="background: none">
                            <div class="row">
                                <div class="col-md-12"></div>
                                <div class="col-md-12"></div>
                                <div class="col-md-12"></div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <button type="submit"
                                                id="form-submit"
                                                class="button"
                                                style="margin-top: 221px"
                                                href="/User/SignUp">
                                            Get it now
                                        </button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section courses" data-section="section4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Choose Your Tutor</h2>
                    </div>
                </div>
                <div class="owl-carousel owl-theme">
                    <a href="#" class="link">
                        <div class="item">
                            <!-- person Image  -->
                            <img src="~/assets/images/courses-01.jpg" alt="Course #1" />
                            <div class="down-content">
                                <h4>Digital Marketing</h4>
                                <p>
                                    Discover digital marketing strategies with expert tutors.
                                    Master online promotion techniques for products, services, and brands through personalized sessions.
                                </p>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="link">
                        <div class="item">
                            <!-- person image  -->
                            <img src="~/assets/images/courses-02.jpg" alt="Course #2" />
                            <div class="down-content">
                                <h4>Business World</h4>
                                <p>
                                    Explore the dynamic landscape of the business world with our expert tutors.
                                    Gain insights into industry trends, leadership strategies,
                                    and market dynamics through personalized sessions tailored to your needs.
                                </p>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="link">
                        <div class="item">
                            <!-- person image  -->
                            <img src="~/assets/images/courses-03.jpg" alt="Course #3" />
                            <div class="down-content">
                                <h4>Media Technology</h4>
                                <p>
                                    Dive into the ever-evolving realm of media technology with our seasoned mentors.
                                    Discover the latest innovations, digital platforms,
                                    and content creation tools shaping the media landscape through personalized sessions tailored to your interests.
                                </p>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="link">
                        <div class="item">
                            <!-- person image  -->
                            <img src="~/assets/images/courses-04.jpg" alt="Course #4" />
                            <div class="down-content">
                                <h4>Communications</h4>
                                <p>
                                    Explore the dynamic field of communications.
                                    Learn about effective messaging, interpersonal skills,
                                    and digital communication platforms through personalized sessions tailored to your needs.
                                </p>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="link">
                        <div class="item">
                            <!-- person image  -->
                            <img src="~/assets/images/courses-05.jpg" alt="" />
                            <div class="down-content">
                                <h4>Business Ethics</h4>
                                <p>
                                    Dive into the realm of Business Ethics with our experienced guides. Explore moral principles,
                                    corporate responsibility, and ethical decision-making in the business world through
                                    personalized sessions tailored to your interests.
                                </p>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="link">
                        <div class="item">
                            <!-- person image  -->
                            <img src="~/assets/images/courses-01.jpg" alt="" />
                            <div class="down-content">
                                <h4>Photography</h4>
                                <p>
                                    Embark on a journey into the art of photography with our skilled instructors. Learn the fundamentals of composition,
                                    lighting techniques, and digital editing through personalized sessions tailored to your interests.
                                </p>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="link">
                        <div class="item">
                            <!-- person image  -->
                            <img src="~/assets/images/courses-02.jpg" alt="" />
                            <div class="down-content">
                                <h4>Web Development</h4>
                                <p>
                                    Explore the world of web development with our skilled instructors. Learn coding languages,
                                    design principles, and website creation techniques through personalized sessions tailored to your interests..
                                </p>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="link">
                        <div class="item">
                            <!-- person image  -->
                            <img src="~/assets/images/courses-03.jpg" alt="" />
                            <div class="down-content">
                                <h4>Learn HTML CSS</h4>
                                <p>
                                    Master the fundamentals of web development, including markup languages and styling techniques,
                                    through personalized sessions designed to enhance your skills.
                                </p>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="link">
                        <div class="item">
                            <!-- person image  -->
                            <img src="~/assets/images/courses-04.jpg" alt="" />
                            <div class="down-content">
                                <h4>Social Media</h4>
                                <p>
                                    Immerse yourself in the realm of social media. Explore platforms,
                                    engagement strategies, and content creation techniques through personalized sessions tailored to your goals.
                                </p>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="link">
                        <div class="item">
                            <!-- person image  -->
                            <img src="~/assets/images/courses-05.jpg" alt="" />
                            <div class="down-content">
                                <h4>Digital Arts</h4>
                                <p>
                                    Uncover the world of digital arts with our creative mentors. Explore a variety of mediums,
                                    software tools, and artistic techniques, refining your skills through personalized
                                    sessions tailored to your unique passions.
                                </p>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="link">
                        <div class="item">
                            <!-- person image  -->
                            <img src="~/assets/images/courses-01.jpg" alt="" />
                            <div class="down-content">
                                <h4>Media Streaming</h4>
                                <p>
                                    Dive into the world of media streaming with our knowledgeable guides. Explore platforms,
                                    content creation, and audience engagement strategies through tailored sessions designed
                                    to elevate your understanding.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section video" data-section="section5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <div class="left-content">
                        <span>our presentation is for you</span>
                        <h4>
                            A piece of the Live Stream to learn more
                            <em>about Grad Streaming</em>
                        </h4>

                        <div class="main-button">
                            <a rel="nofollow" href="#" target="_parent">
                                Join Our Stream
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" bis_skin_checked="1">
                    <img class="liveStream" src="~/assets/images/liveStream.jpg" alt="" />
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <i class="fa fa-copyright"></i> Copyright 2024 by Grad | Design:
                        <a href="#" rel="sponsored" target="_parent">TemplateMo</a>
                        <br />
                        Distributed By:
                        <a href="#" rel="sponsored" target="_blank">ThemeWagon</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->

    <script src="~/assets/js/isotope.min.js"></script>
    <script src="~/assets/js/owl-carousel.js"></script>
    <script src="~/assets/js/lightbox.js"></script>
    <script src="~/assets/js/tabs.js"></script>
    <script src="~/assets/js/video.js"></script>
    <script src="~/assets/js/slick-slider.js"></script>
    <script src="~/assets/js/custom.js"></script>
@*     <script>
        //according to loftblog tut
        $(".nav li:first").addClass("active");

        var showSection = function showSection(section, isAnimate) {
            var direction = section.replace(/#/, ""),
                reqSection = $(".section").filter(
                    '[data-section="' + direction + '"]'
                ),
                reqSectionPos = reqSection.offset().top - 0;

            if (isAnimate) {
                $("body, html").animate(
                    {
                        scrollTop: reqSectionPos,
                    },
                    800
                );
            } else {
                $("body, html").scrollTop(reqSectionPos);
            }
        };

        var checkSection = function checkSection() {
            $(".section").each(function () {
                var $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                    var currentId = $this.data("section"),
                        reqLink = $("a").filter("[href*=\\#" + currentId + "]");
                    reqLink
                        .closest("li")
                        .addClass("active")
                        .siblings()
                        .removeClass("active");
                }
            });
        };

        $(".main-menu, .scroll-to-section").on("click", "a", function (e) {
            if ($(e.target).hasClass("external")) {
                return;
            }
            e.preventDefault();
            $("#menu").removeClass("active");
            showSection($(this).attr("href"), true);
        });

        $(window).scroll(function () {
            checkSection();
        });
    </script>
 *@
    <script type="module">
        import Chatbot from "https://cdn.jsdelivr.net/npm/flowise-embed/dist/web.js"
        Chatbot.init({
            chatflowid: "0692fd87-b332-47aa-8908-1dbeb8adf189",
            apiHost: "http://127.0.0.1:3000",
        })
    </script>
</body>
</html>
