@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" lang="en">
<head>
    <meta name="viewport" content="width=device-width , initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="~/assets/images/title.ico" />

    <link rel="stylesheet" href="~/Live Stream/styles/style.css" />


</head>
<body>
    <div class="header">
        <nav>
            <a class="sidebar-brand brand-logo" href="#Home">
                <img id="logo" src="~/assets/images/logo.png" alt="logo" 
                style="width: 100px;" />
            </a>
            @*  <ul>
                <li><img src="video-call-img/images/live.png" /></li>
                <li><img src="video-call-img/images/video.png" /></li>
                <li><img src="video-call-img/images/message.png" /></li>
                <li><img src="video-call-img/images/notification.png" /></li>
                <li><img src="video-call-img/images/users.png" /></li>
                <li><img src="video-call-img/images/setting.png" /></li>
            </ul> *@
        </nav>

        <div class="container">
            <div class="top-icons">
                <img src="~/Live Stream/images/search.png" />
                <img src="~/Live Stream/images/menu.png" />
            </div>

            <div class="row">
                <div class="col-1" id="col-1">
                    <div id="local_user">
                    </div>
                    <!-- <img src="video-call-img/images/image.png" class="host-img" /> -->
                    <div class="contarols">
                        <a>
                            <img src="~/Live Stream/images/chat.png" id="chat-btn" />
                        </a>
                        <a>
                            <svg id="camera-btn" class="camera-btn" width="100px" height="100px" viewBox="0 -2 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                    <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-258.000000, -467.000000)" fill="#000000">
                                        <path d="M286,471 L283,471 L282,469 C281.411,467.837 281.104,467 280,467 L268,467 C266.896,467 266.53,467.954 266,469 L265,471 L262,471 C259.791,471 258,472.791 258,475 L258,491 C258,493.209 259.791,495 262,495 L286,495 C288.209,495 290,493.209 290,491 L290,475 C290,472.791 288.209,471 286,471 Z M274,491 C269.582,491 266,487.418 266,483 C266,478.582 269.582,475 274,475 C278.418,475 282,478.582 282,483 C282,487.418 278.418,491 274,491 Z M274,477 C270.687,477 268,479.687 268,483 C268,486.313 270.687,489 274,489 C277.313,489 280,486.313 280,483 C280,479.687 277.313,477 274,477 L274,477 Z" id="camera" sketch:type="MSShapeGroup">

                                        </path>
                                    </g>
                                </g>
                            </svg>
                        </a>

                        <a asp-action="ExitTheStream">
                            <img src="~/Live Stream/images/call.png"
                                 class="call-icon"
                                 id="leave-btn" />
                        </a>

                        <a>
                            <img src="~/Live Stream/images/mic.png"
                                 id="mic-btn" />
                        </a>

                        <a>
                            <img src="~/Live Stream/images/cast.png" id="screen-btn" />
                        </a>
                    </div>
                </div>

                <div class="col-2">
                    <div class="joined">
                        <p>People Joined</p>
                        <div class="remote-container" id="remote-users">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="~/Live Stream/js/AgoraRTC_N-4.20.0.js"></script>
<script type="text/javascript" src="~/Live Stream/js/room_rtc_design.js"></script>
</html>

