@model Tutor
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor Details</title>
    <link rel="icon" type="image/x-icon" href="~/assets/images/title.ico" />

    <style>
        .container {
            max-width: 800px;
            margin: 90px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        img {
            width: 100%;
            border-radius: 8px;
        }

        header {
            display: block;
            unicode-bidi: isolate;
        }

        .main-header {
            background-color: rgba(22, 34, 57, 0.95);
            height: 80px;
            position: fixed;
            z-index: 12;
            width: 100%;
            top: 0;
        }

        .start-chat {
            font-size: 14px;
            color: #777;
            margin-top: 10px;
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            background-color: rgba(22, 34, 57, 0.95);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s;
        }
    </style>
</head>
<body>
    <header class="main-header clearfix" role="header">
        <div class="logo">
            <!-- inserting logo  -->
            <a href="~/Home/Index">
                <img src="/assets/images/logo.png" alt="" style="width: 12%" bis_size="{&quot;x&quot;:60,&quot;y&quot;:18,&quot;w&quot;:154,&quot;h&quot;:49,&quot;abs_x&quot;:60,&quot;abs_y&quot;:18}" bis_id="bn_aw8ktn9phwagh1lue3njua">

            </a>
        </div>
    </header>

    <div class="container">
        <h1>Tutor Details</h1>
        <img src="~/images/@Model.ImageSrc" />
        <div class="tutor-details">
            <h2>@Model.Name</h2>
            <p>@Model.Field</p>
            <p>@Model.Descrp</p>
            <p>@Model.Phone</p>
            <button class="start-chat">Start Chat</button>
        </div>
    </div>
</body>
</html>
